:root {
  --footer-bg-color: #212f3d;
  --footer-social-network: #ffffff;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-social-network);
  padding: 0.625rem;
}

.social__network {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social__network a {
  margin: 0.625rem;
  text-decoration: none;
  color: var(--main-social-network);
}

.social__network i {
  font-size: 20px;
}

.social__network--copyright {
  text-align: center;
  padding: 0.625rem;
}

/* Footer */
