<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/anime-top.css">

    <!-- icons -->
    <script
        src="https://kit.fontawesome.com/4faa9fe1ce.js"
        crossorigin="anonymous"
    ></script>

    <title>Anime-Full | Top</title>
</head>
<body>
    <!-- Header with search bar -->
    <header class="header">
        
        <nav class="nav-bar">
            <div class="top-bar">
                <a class="top-bar__brand" href="/index.html">Anime-Full</a>
                <form class="search-form">
                    <input class= "search-form__input" type="search" id="search-anime" name="q" placeholder="search anime">
                    <button class="search-form__btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <span class="icon-menu" id="icon-menu">
                    <i class="fas fa-bars"></i>
                </span>    
            </div>

            <ul class="main-menu" id="main-menu">
                <li class="main-menu__item"><a class= "main-menu__link" href="/index.html">Home</a></li>
                <li class="main-menu__item"><a class= "main-menu__link" href="#">Anime Top</a></li>
                <li class="main-menu__item"><a class= "main-menu__link" href="">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!---Header with search bar-->

    <main>
        <h1 class="title-top">Top 10 Anime </h1>
        <section class="top-section">
           
                <div class="top-left">
                    <div class="anime-header">
                        <p class="anime-header__number">1</p>
                        <h2 class="anime-header__title">Anime Name</h2>
                    </div>
                    <img class="anime__img" src="/public/assets/img/anime.jpg" alt="anime image">
                </div>
                <div class="top-right">
                    <div class="anime-pills">
                        <p class="anime__pill--gender">gender</p>
                        <p class="anime__pill--season">season</p>
                    </div>
                    <p class="anime__details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad id soluta et quo quos vel, eligendi, dicta ex ea, nobis sequi. Tempora sequi vero dolorem minima ipsum expedita numquam optio quidem! Similique pariatur reiciendis quas quia provident minus nisi quam! Eveniet ut hic exercitationem maxime similique accusantium libero accusamus autem, sit nesciunt odio veritatis consequatur blanditiis fugiat recusandae modi facere sequi fugit, minus unde iusto tempore aspernatur. Corrupti repellendus ut laborum, atque quaerat vero inventore soluta veritatis dolores mollitia earum nostrum doloremque dicta eveniet magni blanditiis porro iusto exercitationem nisi aliquid. Ipsa quia blanditiis quos necessitatibus sequi nam eaque mollitia.</p>
                </div>
           
        </section>

        <section class="top-section">
           
            <div class="top-left">
                <div class="anime-header">
                    <p class="anime-header__number">1</p>
                    <h2 class="anime-header__title">Anime Name</h2>
                </div>
                <img class="anime__img" src="/public/assets/img/anime.jpg" alt="anime image">
            </div>
            <div class="top-right">
                <div class="anime-pills">
                    <p class="anime__pill--gender">gender</p>
                    <p class="anime__pill--season">season</p>
                </div>
                <p class="anime__details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad id soluta et quo quos vel, eligendi, dicta ex ea, nobis sequi. Tempora sequi vero dolorem minima ipsum expedita numquam optio quidem! Similique pariatur reiciendis quas quia provident minus nisi quam! Eveniet ut hic exercitationem maxime similique accusantium libero accusamus autem, sit nesciunt odio veritatis consequatur blanditiis fugiat recusandae modi facere sequi fugit, minus unde iusto tempore aspernatur. Corrupti repellendus ut laborum, atque quaerat vero inventore soluta veritatis dolores mollitia earum nostrum doloremque dicta eveniet magni blanditiis porro iusto exercitationem nisi aliquid. Ipsa quia blanditiis quos necessitatibus sequi nam eaque mollitia.</p>
            </div>
       
    </section>

    </main>

    <!--Footer-->
    <footer>
        <section class="footer">
          <div class="social-network">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="social-network__copyright">
            <p>Anime Full © 2021</p>
          </div>
        </section>
      </footer>
      <!--Footer-->
  
    <script src="/public/js/navbar.js"></script>
</body>
</html>