@font-face {
    font-family: "Boogaloo";
    src: url("/public/assets/font/Boogaloo-Regular.ttf");
}

:root {
    --main-bg-color: #212f3d;
    --header-text-color: #FFFFFF;
    --hover-color-text: #eb196e;
    --genre-color-pill: #FBB708;
    --premiered-color-pill: #FB431B;
    --rank-color-pill: #1BAAFB;
    --btn-bg-color: #008487;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto 4rem auto;
}

.card {
    margin: 2rem 1rem;
    padding-bottom: 2rem;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card__figure {
    margin: 0;
}

.card__img{
    width: 100%;
    height: 430px;
}

.card__body {
    display: flex;
    flex-direction: column;
    padding-right: .4rem;
    height: auto;
}

.card__title {
    text-align: left;
    font-family: 'Boogaloo';
    font-size: 2rem;
    padding-left: 1rem;
}


.card__footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.card__pill {
    display: inline;
    width: auto;  
    padding: .5rem 1rem;
    border-radius: 24px;
    color: var(--header-text-color);
    background-color: var(--genre-color-pill);
    font-family: 'Boogaloo';
}

.card__btn {   
   /*  background-color: var(--btn-bg-color); */
    background-color: transparent;
    color: var(--header-text-color);
    font-family: 'Boogaloo';
    padding: .5rem;
    border: none;
    /* border-radius: 50%;
    border: 3px solid var(--btn-bg-color); */
}

.card__link {
    color: var(--header-text-color);
    text-decoration: none;
}

.card__icon {
    color: var(--btn-bg-color);
    font-size: 24px;
}


@media screen and (min-width: 768px) {   
    .card-container {
        margin-left: 1rem;
        margin-right: 1rem; 
    }

    .card {
        width: 300px;
    }

    .card__title {
        font-size: 2.5rem;
        height: 7rem;
    }
}

@media screen and (min-width: 992px) {
    .card-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .card__title {
        font-size: 2rem;
        height: 5rem;
    }
}