@font-face {
    font-family: "Boogaloo";
    src: url("/public/assets/font/Boogaloo-Regular.ttf");
}

:root {
    --main-bg-color: #212f3d;
    --header-text-color: #FFFFFF;
    --hover-text-color: #FBB708;
    --gender-color-pill: #FBB708;
    --season-color-pill: #FB431B;
    --top-color-pill: #1BAAFB;
    --btn-bg-color: #008487;
}

.card {
    margin: 4rem auto;
    padding-bottom: 1rem;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-header {
    padding: 0 1rem; 
}

.card-header__title {
    text-align: left;
    font-family: 'Boogaloo';
    font-size: 2.5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.card-header__pill {
    display: inline;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .2rem .8rem;
    width: auto;
    border-radius: 24px;
    color: var(--header-text-color);
    background-color: var(--gender-color-pill);
    font-family: 'Boogaloo';
}

.card-footer {
    align-self: flex-end;
}

.card-footer__btn {
    margin-top: 1.5rem;
    margin-right: 1rem;  
    padding: .3rem .6rem;
    background-color: var(--btn-bg-color);
    color: var(--header-text-color);
    font-family: 'Boogaloo';
    border-radius: 20px;
    box-shadow: none;
}

.card-footer__link {
    color: var(--header-text-color);
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {   
    .card {
        width: 300px;
        margin: 4rem;
    }

    .card__img {
        width: 100%;
    }

    .card-header__title {
        font-size: 1.5rem;
    }
}