@font-face {
    font-family: "Boogaloo";
    src: url("/public/assets/font/Boogaloo-Regular.ttf");
}

:root {
    --gender-color-pill: #FBB708;
    --season-color-pill: #FB431B;
    --top-color-pill: #1BAAFB;
}

.title {
    font-family: 'Boogaloo';
    text-align: center;
    margin-top: 2rem;
}

.anime {
    margin: 4rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.anime__figure {
    margin: 0;
}

.anime__img {
    width: 100%;
}

.anime-pill {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-right: 1.5rem;
}

.anime-pill__pill {
    display: inline;
    border-radius: 24px;
    margin-top: 1rem;
    margin-right: .5rem;
    padding: .2rem .8rem;
    width: auto;
    color: var(--header-text-color);
    font-family: 'Boogaloo';
}

.anime-pill__pill--top {
    background-color: var(--top-color-pill);
}

.anime-pill__pill--gender {
    background-color: var(--gender-color-pill);
}

.anime-pill__pill--season {
    background-color: var(--season-color-pill);
}

.anime__details {
    text-align: left;
    padding: 1.5rem;
    padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .anime {
        display: flex;
        justify-content: center;
    }

    .anime__illustration {
        width: 30%;
        padding-top: 2rem;
    }

    .anime__info {
        width: 50%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .anime__img {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .anime__img {
        margin-top: 3rem;
    }
}