@font-face {
    font-family: "Boogaloo";
    src: url("/public/assets/font/Boogaloo-Regular.ttf");
}

:root {
    --genre-color-pill: #FBB708;
    --premiered-color-pill: #FB431B;
    --rank-color-pill: #1BAAFB;
}

.anime {
    margin: 3rem 1rem 4rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.anime__figure {
    margin: 0;
}

.anime__img {
    width: 100%;
}

.anime-pill {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: .5rem;
    padding: .1rem;
}

.anime-pill__pill {
    border-radius: 24px;
    margin-right: .5rem;
    padding: .5rem 1rem;
    width: auto;
    color: var(--header-text-color);
    font-family: 'Boogaloo';
}

.anime-pill__pill--rank {
    background-color: var(--rank-color-pill);
}

.anime-pill__pill--genre {
    background-color: var(--genre-color-pill);
}

.anime-pill__pill--premiered {
    background-color: var(--premiered-color-pill);
}


.title {
    font-family: 'Boogaloo';
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;
    padding-left: 1.5rem;
}

.anime__details {
    text-align: left;
    padding: 1.5rem;
    padding-bottom: 4rem;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .anime {
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .anime__info {
        padding-left: 2rem;
        padding-right: 2rem;
    } 
}

@media screen and (min-width: 992px) {
    .anime {
        display: flex;
        flex-direction: row;
        padding: 2rem 5rem;
        margin-right: 7rem;
        margin-left: 7rem;
    }

    .anime__illustration {
        width: 40%;
        padding-top: 7rem;
    }

    .anime__info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .anime-pill {
        display: flex;
        flex-wrap: nowrap;
    }
}