@font-face {
    font-family: "brand";
    src: url("/public/assets/font/December\ Holidays.ttf");
}

:root {
    --main-bg-color: #212f3d;
    --header-text-color: #FFFFFF;
    --hover-color-text: #eb196e;
}  

.header {
    background-color: var(--main-bg-color);
    color: var(--header-text-color);
    padding: .8rem 1rem;  
}

/*--- top bar: brand and search bar --- */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.top-bar__brand {
    text-decoration: none;
    font-family: "brand", cursive;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--hover-color-text);
}

.search-form {
    margin-right: 3rem;
    margin-left: 1.5rem;
}

.search-form__input {
    width: 100%;
    height: 30px;
    margin-right: -2.4rem;
    padding-left: .5rem;
    border-radius: 24px;
}

.search-form__btn {
    border: none;
    background-color: var(--header-text-color);
}

.icon-menu {
    font-size: 20px;
    color: var(--hover-color-text);
}
/*--- top bar: brand and search bar --- */


/* ---Navbar menu--- */
.main-menu {
    list-style-type: none;
    display: none;
}

.main-menu__link {
    text-decoration: none;
    color: var(--header-text-color);
    font-family: 'Boogaloo';
    font-size: 1.5rem;
}

.main-menu__item {
    margin: 2rem auto;
    text-align: center;
    border-bottom: .5px solid var(--hover-color-text);
    border-left: .5px solid var(--hover-color-text);;
}

.show {
    display: block;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 2rem;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
    }

    .top-bar {
        justify-content: space-between;
        width: 60%;
    }

    .top-bar__brand {
        font-size: 2rem;
    }

    .icon-menu {
        display: none;
    }

    .main-menu {
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-menu__item {
        border-bottom: none;
        border-left: none;      
    }

    .main-menu__link {
        color: var(--header-text-color);
        margin: 1rem;
        font-size: 1.3rem;
    }

    .main-menu__link:hover {
        color: var(--hover-color-text);
    }

}

@media screen and (min-width: 992px) {
    .top-bar {
        justify-content: space-between;
        width: 60%;
    }

    .search-form {
        width: 40%;
    } 

    .search-form__input {
        width: 80%;
        height: 35px;
    }

    .search-form__input:focus {
        outline: none;
    }
}

/*---Navbar-menu---*/